.container{
  font-size: x-large;
}
.p{
  margin-top: auto;
  margin-bottom: auto;
}

#header-block{
  border-radius: 10px;
  background-color:#89d1cd;
  grid-area: header;
  height: auto;
  background-image: url("../static/images/planner.webp");
  background-size: contain;
  background-repeat: repeat-y;
}

#greet-block{
  border-radius: 10px;
  background-color:#Ebedee;
  grid-area: greet;
  height: auto;
  
}
#quote-block{
  border-radius: 10px;
  background-color: #Ebedee;
  grid-area: quote;
  height: auto;

}

#settings-block{
  border-radius: 10px;
  background: #Ebedee;
  grid-area: settings;
  height: auto;
}
#task-block{
  border-radius: 10px;
  background: #Ebedee;
  grid-area: task;
  height: auto;
}
#list-block{
  border-radius: 10px;
  background: #Ebedee;
  grid-area: list;
  height: auto;
  /*margin-left: -9em;*/
}
#footer-block{
  /* background: lightgrey; */
  border-radius: 10px;
  grid-area: footer;
  height: auto;
  color:black;
  padding-bottom: 10%;
  background-color:#89d1cd;
  /* background-image: url('insurance-footer-background.png'); */
}


@media (min-width:  1000px){
  #main-container{
    display : grid;
    grid-template-columns : 35% 65%;
    grid-template-rows : 10% 15% 70% 5%;
    grid-gap: 10px 10px;

    grid-template-areas: 
    "header header"
    "greet quote"
    "settings list"
    "footer footer"
  }
}

@media (max-width:  999px){
  #main-container{
    display : grid;
    grid-row-gap: 10px;

    grid-template-areas: 
    "header"
    "quote"
    "settings"
    "list"
    "footer"
  }

  #greet-block{
    display: none;
  }

  textarea {
    vertical-align: top;
  }

  form label {
    display: inline-block;
    width: 100px;
  }

  form div {
    margin-bottom: 10px;
  }

  /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.vertical-alignment-helper {
  display:table;
  height: 100%;
  width: 100%;
  pointer-events:none; /* This makes sure that we can still click outside of the modal to close it */
}
.vertical-align-center {
  /* To center vertically */
  display: table-cell;
  vertical-align: middle;
  pointer-events:none;
}
.modal-content {
  /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
  width:inherit;
  max-width:inherit; /* For Bootstrap 4 - to avoid the modal window stretching full width */
  height:inherit;
  /* To center horizontally */
  margin: 0 auto;
  pointer-events: all;
}

}
