name: Testing
language: python
os:
  - linux
python:
  - "3.8.2"
# command to install dependencies
install:
  - pip install -r requirements.txt
  - pip install requests
before_script: cd src
script: python3 -m unittest discover
services: mongodb
