
#greet-block{
  background-color: lightblue;
  grid-area: greet;
}
#quote-block{
  background-color: yellowgreen;
  grid-area: quote;
}
#status-block{
  background: orange;
  grid-area: status;
}
#settings-block{
  background: seagreen;
  grid-area: settings;
}
#task-block{
  background: paleturquoise;
  grid-area: task;
}
#list-block{
  background: palegreen;
  grid-area: list;
}
#footer-block{
  background: black;
  grid-area: footer;
}


@media (min-width:  720px){
  #main-container{
    display : grid;
    grid-template-columns : 33% 34% 33%;
    grid-template-rows : 10% 10% 70% 10%;
    grid-gap: 10px 10px;

    grid-template-areas: 
    "greet quote quote"
    "status status status"
    "settings task list"
    "footer footer footer"
  }
}