{% extends "layout.html" %}
{% block content %}
<div class="card status-card col-md" style="width: auto;">
    <i class="material-icons card-icons">task</i>
    <div class="card-body">
        <h5 class="card-title">All Tasks</h5>
    </div>
    <table data-toggle="table" data-flat="true" data-search="true">
        <thead>
            <tr style="background-color: #D5D8DD; text-align: center;">
                <th>Task</th>
                <th data-sortable="true">Status</th>
                <th>Category</th>
                <th>Start Date</th>
                <th>Due Date</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            {% for item in all_tasks %}
            <tr>
                <td>{{ item.2 }}</td>
                {% if item.4 == 'Done' %}
                <td style="background-color: lightgreen;">{{ item.4 }}</td>
                {% elif item.4 == 'Waiting' %}
                <td style="background-color: lightyellow;">{{ item.4 }}</td>
                {% elif item.4 == 'Stuck' %}
                <td style="background-color: lightcoral;">{{ item.4 }}</td>
                {% else %}
                <td style="background-color: lightblue;">{{ item.4 }}</td>
                {% endif %}
                <td>{{ item.9 }}</td>
                <td>{{ item.11 }}</td>
                <td>{{ item.12 }}</td>
                <td style="text-align: center;"><a href="/edit_task"><i class="material-icons">edit</i></a></td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>
{% endblock content %}