{% extends "layout.html" %}
{% block content %}
<div class="card status-card col-md" style="width: auto;">
    <div class="card-body">
        <h5 class="card-title">All Tasks</h5>
    </div>
    <table data-toggle="table" data-flat="true" data-search="true">
        <thead>
            <tr style="background-color: #D5D8DD; text-align: center;">
                <th>Task</th>
                <th data-sortable="true">Status</th>
                <th>Category</th>
                <th>Start Date</th>
                <th>Due Date</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            {% for item in tasks %}
            <tr>
                <td>{{ item['taskname'] }}</td>
                {% if item['status'] == 'Done' %}
                <td style="background-color: lightgreen;">{{ item['status'] }}</td>
                {% elif item['status'] == 'Blocked' %}
                <td style="background-color: lightcoral;">{{ item['status'] }}</td>
                {% else %}
                <td style="background-color: lightblue;">{{ item['status'] }}</td>
                {% endif %}
                <td>{{ item['category'] }}</td>
                <td>{{ item['startdate'] }}</td>
                <td>{{ item['duedate'] }}</td>
                <td style="text-align: center;"><a href="/edit_task"><i class="material-icons">edit</i></a></td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>
{% endblock content %}