{% extends "layout.html" %}
{% block content %}
<div class="card status-card col-md" style="width: auto;">
    <div class="card-body">
        <h5 class="card-title">All Tasks</h5>
    </div>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function () {
        $("#ddlStatus,#ddlCategory").on("change", function () {
            var Status = $('#ddlStatus').find("option:selected").val();
            var Category = $('#ddlCategory').find("option:selected").val();
            SearchData(Status, Category)
        });
    });
    function SearchData(Status, Category) {
        if (Status.toUpperCase() == 'ALL' && age.toUpperCase() == 'ALL') {
            $('myTable tbody tr').show();
        } else {
            $('#myTable tbody tr:has(td)').each(function () {
                var rowStatus = $.trim($(this).find('td:eq(1)').text());
                var rowCategory = $.trim($(this).find('td:eq(2)').text());
                if (Status.toUpperCase() != 'ALL' && Category.toUpperCase() != 'ALL') {
                    if (rowStatus.toUpperCase() == Status.toUpperCase() && rowCategory == Category) {
                        $(this).show();
                    } else {
                        $(this).hide();
                    }
                } else if ($(this).find('td:eq(1)').text() != '' || $(this).find('td:eq(1)').text() != '') {
                    if (Status != 'all') {
                        if (rowStatus.toUpperCase() == Status.toUpperCase()) {
                            $(this).show();
                        } else {
                            $(this).hide();
                        }
                    }
                    if (Category != 'all') {
                        if (rowCategory == Category) {
                            $(this).show();
                        }
                        else {
                            $(this).hide();
                        }
                    }
                }
 
            });
        }
    }
</script>

    
<table data-toggle="table" data-flat="true" data-search="true" id="myTable" class="paginated table table-striped table-hover">
        <div class="table-wrapper">
            <div class="table-title">
            </div>
                <div class="table-filter">
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="show-entries">
                                <span>Show</span>
                                <select class="form-control">
                                    <option>5</option>
                                    <option>10</option>
                                </select>
                                <span>entries</span>
                                &nbsp
                                &nbsp
                            </div>
                        </div>
                    </div>
                </div>
            &nbsp
            <div class="row">
                <div class="col-sm-7">
                    <div class="filter-group">
                        <label>Status</label>
                        <select class="cl_status" id="ddlStatus">
                            <option value="all">Select status </option>
                                <option value="In Progress">In Progress</option>
                                <option value="Done">Done</option>
                                <option value="Blocked">Blocked</option>
                        </select>
                        &nbsp  &nbsp &nbsp &nbsp &nbsp
                        <label>Category</label>
                            <select class="cl_category" id="ddlCategory">
                                <option value="all">Select category </option>
                                <option value="Physical">physical</option>
                                <option value="Intellectual">intellectual</option>
                            </select>
                            &nbsp
                    </div>
                    <span class="filter-icon"><i class="fa fa-filter"></i></span>
                </div>
            </div>
            
        </div>
        <thead>
            <tr style="background-color: #D5D8DD; text-align: center;">
                <th>Task</th>
                <th data-sortable="true">Status</th>
                <th data-sortable="true">Category</th>
                <th>Start Date</th>
                <th>Due Date</th>
                <th>Description</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for item in tasks %}
            <tr>
                <td>{{ item['taskname'] }}</td>
                {% if item['status'] == 'Done' %}
                <td style="background-color: lightgreen;">{{ item['status'] }}</td>
                {% elif item['status'] == 'Blocked' %}
                <td style="background-color: lightcoral;">{{ item['status'] }}</td>
                {% else %}
                <td style="background-color: lightblue;">{{ item['status'] }}</td>
                {% endif %}
                <td>{{ item['category'] }}</td>
                <td>{{ item['startdate'] }}</td>
                <td>{{ item['duedate'] }}</td>
                <td>{{ item['description'] }}</td>
                <td style="text-align: center;"><button class='editButton'>edit</button></td>
                <td style="text-align: center;"><button class='deleteButton'>Delete</button></td>
            </tr>
            {% endfor %}
            
        </tbody>
    </table>
</div>
{% endblock content %}