
.container{
  font-size: x-large;
}
.p{
  margin-top: auto;
  margin-bottom: auto;
}

#header-block{
  border-radius: 10px;
  background-color:#Ebedee;
  grid-area: header;
  height: auto;

}

#greet-block{
  border-radius: 10px;
  background-color:#Ebedee;
  grid-area: greet;
  height: auto;
  
}
#quote-block{
  border-radius: 10px;
  background-color: #Ebedee;
  grid-area: quote;
  height: auto;

}
#status-block{
  border-radius: 10px;
  background: #Ebedee;
  grid-area: status;
  height: auto;
}
#settings-block{
  border-radius: 10px;
  background: #Ebedee;
  grid-area: settings;
  height: auto;
}
#task-block{
  border-radius: 10px;
  background: #Ebedee;
  grid-area: task;
  height: auto;
}
#list-block{
  border-radius: 10px;
  background: #Ebedee;
  grid-area: list;
  height: auto;
  /*margin-left: -9em;*/
}
#footer-block{
  /* background: lightgrey; */
  border-radius: 25px;
  grid-area: footer;
  height: auto;
  color:wheat;
  padding-bottom: 10%;
  background-image: url('insurance-footer-background.png');
}


@media (min-width:  1000px){
  #main-container{
    display : grid;
    grid-template-columns : 33% 34% 33%;
    grid-template-rows : 15% 15% 10% 55% 5%;
    grid-gap: 10px 10px;

    grid-template-areas: 
    "header header header"
    "greet quote quote"
    "status status status"
    "settings list list"
    "footer footer footer"
  }
}

@media (max-width:  999px){
  #main-container{
    display : grid;
    grid-row-gap: 10px;

    grid-template-areas: 
    "quote"
    "status"
    "settings"
    "list"
    "footer"
  }

  #greet-block{
    display: none;
  }

  textarea {
    vertical-align: top;
  }

  form label {
    display: inline-block;
    width: 100px;
  }

  form div {
    margin-bottom: 10px;
  }

}
