<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
    

  <!-- Bootstrap CSS -->
  <link href="/static/bootstrap-5.0.2-dist/css/bootstrap.min.css" rel="stylesheet">
  

  <!-- Custom CSS -->
  <link href="/static/styles.css" rel = "stylesheet">


  <!-- jQuery -->
  <script src="/static/jquery-3.6.0.min.js"></script>


  <!-- Bootstrap JS -->
  <script src="/static/bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js"></script>

  <!-- Custom JS -->
  <script src="/static/scripts.js"></script>

  <title>Simpli</title>

  <!-- Custom JS -->
  <script type="text/javascript">

    let page_data = '{{ data|tojson }}'; 

    function showVal(newVal){
    document.getElementById("valBox").innerHTML=newVal;
    }
  
    // Code to set up current time on deadline datefield. 
    window.addEventListener('load', () => {
    const now = new Date();
    now.setMinutes(now.getMinutes() - now.getTimezoneOffset());
    document.getElementById('deadline').value = now.toISOString().slice(0, -1);
    });
  </script>
</head>
<body onload="force_initialization('page_data')">
    
  
  <div class="container " id="main-container">
    

    <div class="container overflow-auto" id="header-block">
      <p>
        HEADER BLOCK <br>
        HEADER BLOCK <br>
        HEADER BLOCK <br>
        HEADER BLOCK <br>
        HEADER BLOCK <br>
        HEADER BLOCK <br>
      </p>
    </div>
    

    <div class="container overflow-auto" id="greet-block">
      <br>
      <p>
        Hi, <b>{{data["name_block"]["name"]}}</b>  <br>
        email-id: <a href = "#"> {{data["name_block"]["email_id"]}} </a><br>
        E-mail notifications: <b>{{data["name_block"]["email_notifications"]}}</b>
        <table class = "container-fluid"> 
          <tr>
              <td>
                <form method="GET" onsubmit="change_pref('page_data')">
                  <input type="submit" value = "Change Preferences...">
                </form>
              </td>
              <td style = "align-content: right;">
                <form method="GET" onsubmit="reset_things()">
                  <input type="submit" value = "Reset">
                </form>
              </td>
          </tr>
        </table>

      </p>
    </div>
    
    <div class="container overflow-auto" id = "quote-block">
      <br>
      <p id = "quotation" style="font-style: italic;">
        {{data["quote_block"]["quote"]}}  
      </p>
      <p id = "author" align="right">
        {{data["quote_block"]["author"]}}
      </p>
    </div>


    <div class="container overflow-auto" id = "status-block">
      <br>
      <p>
        Status of your work list.
      </p>
    </div>


    <div class="container overflow-auto" id = "settings-block">
      <p>
        <form action="task.html" method="post" id="task">
          <h1> Task Entry </h1>
          <div class="field">
            <label for="taskName"> Task Details:</label>
            <textarea name="taskName" rows="2" cols="20" placeholder="Buy groceries/Finish assignment.">
              </textarea>
            <small></small>
          </div>
          <br>
          <div class="field">
            <label for="deadline">Choose the deadline of the task:</label>
            <input type="datetime-local" id="deadline" name="deadline">
          </div>
          <br>
          <div class="field">
            <label for="estimate">Choose the duration of the task:</label>
            <input type="text" id="estimateInput" name="estimateInput">
            <select id="estimate" name="estimate">
              <option value="months">Months</option>
              <option value="days">Days</option>
              <option value="hours">Hours</option>
              </select>
            </div>
            <br>
            <div class="field">
              <label for="taskType">Task type: </label> <br>
                <input type="radio" id="physical" name="taskType" value="physical">
                <label for="physical">Physical</label> <br>
                <input type="radio" id="neutral" name="taskType" value="neutral">
                <label for="neutral">Neutral</label> <br>
                <input type="radio" id="intellectual" name="taskType" value="intellectual">
                <label for="intellectual">Intellectual</label>
              </div>
            <br>
            <div class="field">
              <label for="difficulty">Difficulty of task:</label>
              <span id="valBox"></span>
              <input type="range" id="difficulty" name="difficulty" min="0" max="5" step="1"
              oninput="showVal(this.value)" onchange="showVal(this.value)">
              </input>
              </div>
              <br>
          <button type="submit" class="submit"> Submit </button>
        </form>
      </p>
    </div>

    <div class="container overflow-auto" id = "list-block">
      <p>
        Task List <br>
        In quis dolor sunt eiusmod cillum in magna anim enim minim anim pariatur dolor in minim id esse officia commodo irure. In quis dolor sunt eiusmod cillum in magna anim enim minim anim pariatur dolor in minim id esse officia commodo irure. In quis dolor sunt eiusmod cillum in magna anim enim minim anim pariatur dolor in minim id esse officia commodo irure. In quis dolor sunt eiusmod cillum in magna anim enim minim anim pariatur dolor in minim id esse officia commodo irure. In quis dolor sunt eiusmod cillum in magna anim enim minim anim pariatur dolor in minim id esse officia commodo irure.In quis dolor sunt eiusmod cillum in magna anim enim minim anim pariatur dolor in minim id esse officia commodo irure. In quis dolor sunt eiusmod cillum in magna anim enim minim anim pariatur dolor in minim id esse officia commodo irure. In quis 
      </p>
    </div>


    <div class="container" id = "footer-block">
      <p>
        Footer <br>
        In quis dolor sunt eiusmod cillum in magna anim enim minim anim pariatur dolor in minim id esse officia commodo
      </p>
    </div>
  </div>



</body>
</html>