name: Running Code Coverage
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
    - name: Install Python 3.11.5
      uses: actions/setup-python@v4
      with:
        python-version: 3.11.5
    - name: Install dependencies
      run: |
        pip install pytest-cov
        pip install -r requirements.txt
        echo requirements installed
    - name: 'Create env file'
      run: |
        touch .env
        echo MONGO_URI=${{ secrets.MONGO_URI }} >> .env
        echo MAIL_USERNAME=${{ secrets.MAIL_USERNAME }} >> .env
        echo MAIL_PASSWORD=${{ secrets.MAIL_PASSWORD }} >> .env
        echo MAIL_SERVER=${{ secrets.MAIL_SERVER }} >> .env
        echo MAIL_PORT=${{ secrets.MAIL_PORT }} >> .env
        echo SECRET_KEY=${{ secrets.SECRET_KEY }} >> .env
        cat .env
    - name: Run the tests
      run: |
        cd src
        python application.py &
        sleep 5
        cd test
        pytest --cov=./
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v1
      with:
        token: ${{ secrets.CODECOV_TOKEN }}